* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.recommendations {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 10px 40px;
  border-top: 1px solid #000;
  gap: 50px;
  &__item {
    display: block;
    text-decoration: none;
    color: #000;
    &--thumbnail {
      display: block;
      object-fit: contain;
      height: 150px;
      max-width: 150px;
    }
    &--logo {
      object-fit: contain;
      height: 30px;
    }
  }
}
