.form-container {
  max-width: 100%;
  padding: 16px;
  margin: 0px auto;
  background-color: lightgrey;
  text-align: right;
  &__form {
    padding: 0px 34px;

    &--input {
      padding: 5px;
      height: 40px;
    }
    &--button {
      height: 40px;
      padding: 4px;
    }
  }
}
