* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.products {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 34px;
}
.source-icon {
  object-fit: contain;
  width: 30px;
  height: 30px;
}
.product-image {
  object-fit: contain;
  height: 200px;
  width: 200px;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 15px;
}
