.type-container {
  
  &__picks {
    &--item {
      display: inline;
      border: 1px solid #000;
      border-radius: 4px;
      padding: 5px;
   
    }
  }
  &__picks-header {
    display: none;
  }
  // JS DYNAMIC WEBSITE
  .js-pick-header {
    display: block;
  }
}

// AGREEMENT ELEMENTS

.agreement-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  &__content {
    background-color: #fff;
    max-width: 300px;
    padding: 16px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 4px;
  }
  &__header {
    margin-bottom: 16px;
  }
  &__button-container {
    display: flex;
    justify-content: flex-end;
    &--button {
      padding: 10px;
      border-radius: 4px;
    }
  }
}
.js-agreement-show {
  display: flex;
  justify-content: center;
  align-items: center;
}
